.user-info {
    display: flex;
    text-align: center;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-info h2 {
    font-size: 24px;
    color: #333;
  }
  .user-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 10px;
  }